body {
    margin: 0;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --load-delay-time: 300ms;
}

nav {
    background-color: tomato;
    color: black;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
    margin: 0;
    justify-content: center;
    display: flex;
}

nav li {
    list-style: none;
    padding: 10px;
    margin: 0 10px 10px;
    animation: nav-link-load;
    animation-duration: var(--nav-link-load-time);
    animation-timing-function: ease-in;
    animation-delay: var(--nav-load-time);
    animation-fill-mode: forwards;
    transform: scale(0);
}


nav li:hover {
    background-color: aqua;
    color: red;
    text-overflow: ellipsis;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 50px;
    font-weight: bolder;
}

main {
    padding: 30px;
    font-size: larger;
}

.header {
    animation: load-delay 300ms  var(--load-delay-time)
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes nav-link-load {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1)
    }
}


@keyframes load-delay {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}